body {
    background-color: #0B0C10;
    text-align: center;
}

header {
    font-family: Sans-serif;
    font-size: 50px;
}
h1 {
    color: #ededed;
}
#title {
    margin-bottom: -10px;
    margin-top: -10px;
}
#page {
    margin-top: -10px;
    margin-bottom: 7px;
    font-size: 70px;
}
h2, h3, label {
    color: #C5C6C7; 
    font-family: Verdana;
}


a {
    color: #C5C6C7; 
    text-decoration: none;
}

nav {
 text-align: center;
 border:10px solid #45A29E;
 width: 340px;  
 height: 60px; 
 font-size: 60px;
}
#home {
    margin-top: -10px;
    margin-left: -8px;
}
#dates {
    margin-top: -80px;
    margin-left: 352px;
}
#forms {
    margin-top: -80px;
    margin-left: 712px;
}
#contact {
margin-left: 1072px;
margin-top: -80px;
}

hr {
    margin-top: -20px;
    border: 3px solid #45A29E;
}

section.key {
    align-items: center;
    justify-content: center;
    display: flex;
}

table {
    width: 100%;
    margin-top: 100px;
}

table, th, tr {
    border: 5px solid #1F2833;
    color: #C5C6C7;
    font-size: 30px;
    border-collapse: collapse;
    font-family: Verdana 

}

#thehead {
    height: 75px;
    font-weight: bold;
    
}

#scheduled {
    color: limegreen;
}

#cancelled {
    color: red;
}

#pending {
    color: yellow;
}

#archived {
    color: gray;
    text-decoration: line-through
}

#amogus {
    display: flex;
    margin-top: -50px;
    margin-left: 10px;
}

#smash {
    display: flex;
    justify-content: right;
    margin-top: -120px;
    margin-left: 1300px;
}

